body{
    color: #f0f4f8;
}

button {
    background-color: #3437db;
    display: flex;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cytoscape-graph {
    border: 2px solid #2c3e50;
    border-radius: 10px;
}

#parcours-option {
    color: #000;
}